.form {
    /* padding: 10px; */
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-field label {
    margin-right: 10px;
    margin-bottom: 5px;
    font-size: 1.3em;
}

.form-field input[type="text"] {
    border: 0;
    border-bottom: solid 1px #eee;
    font-size: 1.1em;
    width: 100%;
}

.form-field input[type="text"]:focus {
    outline: none;
    border-bottom: solid 1px rgb(51, 70, 243);
}

.form-field input[type="checkbox"] {
}

.form-field textarea {
    border: 0;
    border-bottom: solid 1px #eee;
    font-size: 1.1em;
    width: 100%;
    resize: none;
}
.form-field textarea:focus {
    border-bottom: solid 1px rgb(51, 70, 243);
    outline: none;
}
